xformers
setuptools
lingua-language-detector
tiktoken
transformers
scikit-learn
nltk
pyinflect
accelerate
openai
textattack
pandas
dacite
dahuffman
argostranslate
starlette==0.27.0
openai
httpcore
vllm==0.2.5